html {
  height: 120%;
}
body {
  background: rgb(36,3,3) !important;
  background: linear-gradient(180deg, rgba(0,0,0,1) 8%, rgba(58,16,16,1) 40%, rgba(89,24,24,1) 70%, rgba(121,33,33,1) 100%) !important; 
}

body { 
  padding-top: 1rem;
  margin: 2rem 0 0;
}

.main-input {
  background: #110;
  padding: 0.5rem;
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.main-input-wrapper {
  background-color: black;
  padding: 1rem;
  box-shadow: -5px 0px 0px 0px rgb(192, 41, 41);
  outline-offset: 5px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 !important;
}
.submit-button p {
  margin: 0;

}

.button {
  background-color: #f44336;
  padding:1rem 2.5rem;
  border-radius: 4px;
  border: none
  

}

#id_work_days{
  height: 44px;
  border: none;
  overflow: hidden;
  background-color: black;
}

#id_work_days option{
  
  width: 100px;
  font-size: 1.2em;
  padding: 5px 2%;
  text-align: center;
  margin-right: 20px;
  display: inline-block; 
  cursor: pointer;
  border:rgb(204, 0, 0) solid 3px;
  border-radius: 4px;
  color: rgb(204, 0, 0);
}

.flex{
  display: flex;
  width: clamp(25rem, 50%, 150rem);
  background: inherit;
}

.flex-1 {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem
}


.options-wrapper select {
  padding: .5rem 1rem;
}


.special-table tr {
  border-bottom: 1px solid rgb(185, 56, 56);
  padding: 0.5rem 0;
}

/* .special-table tr:nth-child(even) {
  background-color: lightgreen;
} */

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

::placeholder{

  color: rgb(255, 255, 255);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  
  }

input.button{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  }

input#username{
  background: black;
}

input#password{
  background: black;
}

select#realm{
  background: black;
  color: white;
  font-size: 17px;
  padding: 1px;
}

.input_login{
  padding: 1px;
  font-size: 16px;
  background: black;
  color: #f44336;
  font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}