html, body {
  background-color: black !important;
}

body { 
  padding-top: 1rem;
  margin: 2rem 0 0;
}

.main-input {
  background: #110;
  padding: 0.5rem;
  outline: none;
  border: none;
}

.main-input-wrapper {
  background-color: black;
  padding: 1rem;
  
  outline-left: 1px solid red;
  outline-offset: 5px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 !important;
}
.submit-button p {
  margin: 0;
}

.button {
  background-color: #f44336;
padding:1rem 2.5rem;
border-radius: 4px;
border: none}

#id_work_days{
  height: 44px;
  border: none;
  overflow: hidden;
  background-color: black;
}

#id_work_days option{
  
  width: 100px;
  font-size: 1.2em;
  padding: 5px 2%;
  text-align: center;
  margin-right: 20px;
  display: inline-block; 
  cursor: pointer;
  border:rgb(204, 0, 0) solid 3px;
  border-radius: 4px;
  color: rgb(204, 0, 0);
}

.flex{
  display: flex;
  width: clamp(25rem, 50%, 150rem);
  background: inherit;
}

.flex-1 {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem
}

.options-wrapper {

}

.options-wrapper select {
  padding: .5rem 1rem;
}


.special-table tr {
  border-bottom: 1px solid rgb(185, 56, 56);
  padding: 0.5rem 0;
}

/* .special-table tr:nth-child(even) {
  background-color: lightgreen;
} */

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}